body {
	background: $mainBackColor;
	color: $mainTextColor;
	font-family: $mainFont;
	font-size: 1.2em;
	margin: 0;
	padding: 0;
}

h2 {
	margin: 0;
}

li {
	list-style-type: none;
}

a {
	color: $mainTextColor;
	text-decoration: none;
}

p {
	font-weight: 300;
	letter-spacing: 0.05em;
	line-height: 1.2em;
	vertical-align: middle;
}

.hidden {
	border: 0px solid white;
	height: 0;
	opacity: 0;
	z-index: 0;

	transition: all 0.5s ease;
}

.btn {
	border: 1px solid grayscale(darken($mainBackColor, 8%));
	border-radius: 0.25em;
	box-shadow: 0px 0px 0.5px rgba(0,0,0,0.4);
	margin: 0.5%;
	padding: 0.5%;

	transition: all ease 0.5s;

	&:hover, &:active, &:focus {
		border: 1px solid grayscale(darken($mainBackColor, 12%));
		box-shadow: 1px 1px 2px rgba(0,0,0,0.4), -1px -1px 2px rgba(0,0,0,0.4);
	}
}

.line {
	background-color: $brightMainColor;
	height: 2px;
	width: 100%;
}