.lightbox {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 0;
	width: 90%;
}

.arrow {
	display: flex;
	align-items: center;
	height: 20em;
	margin: 0;
	padding: 0 3%;

	i::before {
		margin: 0;
		padding: 0;
	}
}

.caption {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
	padding: 0.5% 0;
}

.big-img-wrapper {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	height: 20em;
	margin: 0;
	min-width: 80%;
	width: auto;

	overflow: hidden;
}

.big-img {
	margin: 0;
	height: 100%;
	min-width: auto;
	object-fit: contain;
	//transition: all 0.4s ease-in-out;
}

.carousel-container {
	margin: 0 auto;
}

.slider-container {
	display: flex;
	flex-wrap: nowrap;
	margin: 1% auto;
	overflow: hidden;
	justify-content: center;
	width: 100%;

	.arrow.little {
		height: 8em;
		z-index: 100;
	}
}

.slider-img-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10em;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 150%;

	transition: 0.5s ease all;

	&.shifted {
		margin-left: -50%;
	}

	li {
		display: flex;
		align-items: center;
		height: 10em;
		margin: 0 0.5%;
		max-width: 20em;
	}

	.thumb-img {
		border-radius: 0.25em;
		cursor: pointer;
		max-height: 12em;
		overflow: hidden;
		object-fit: contain;
	}
}