// colors only

$mainText: #1e2022;
$mainBack: #f0f5f9;
$gray: #52616a;
$lightBlue: #c9d6de;

$shadow: rgba(0,0,0,0.3);

$accent1: #dedcee;
$brightAccent: #fbd14b;
$accent2: #6a60a9;

$menuColor: $gray;

$red: #FF1B1C;
$yellow: #FFDA23;
$green: #84C61F;
$blue: #2BA0DB;