body {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.container {
	display: block;
	margin: 0.5em auto;
	padding: 2%;
}

.main-content-container {
	margin-top: 0;
}

.header-container {
	//border: 2px solid $blue;
	height: 33em;
}

.about-container {
	background-color: $gray;
	color: $mainBack;
	//border: 2px solid $yellow;
}

.image-container {
	//border: 2px solid $blue;
	min-height: 15em;
}

.contact-container {
	//border: 2px solid $green;
	background-color: $gray;
	color: $mainBack;
}

.details {
	display: flex;
	justify-content: space-around;
	align-items: center;

	img {
		max-width: 15%;
	}

	p {
		max-width: 75%;
	}
}