body {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.container {
	display: block;
	margin: 0.5em auto 0.5em 6.5em;
	padding: 2%;
}

.header-container {
	border: 1px solid blue;
}

.about-container {
	border: 1px solid orange;
}

.contact-container {
	border: 1px solid green;
}

.details {
	display: flex;
	justify-content: space-around;
	align-items: center;

	img {
		max-width: 15%;
	}

	p {
		max-width: 75%;
	}
}