.menu {
	align-content: center;
	border: 2px solid $red;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	left: 0;
	padding: 1% 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 99vw;
}

.menu-btn {
	border: 0px solid white;
	box-shadow: none;
	color: $red;
	display: block;
	letter-spacing: 0.1em;
	margin-bottom: 0.5em;
	text-transform: lowercase;

	&:hover {
		border: 0px solid white;
		box-shadow: none;
		cursor: pointer;
		letter-spacing: 0.2em;
	}
}