.image-menu {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 1%;
	padding: 0 2%;

	.fa {
		height: auto;
		margin: 0;
		width: 1.2em;
	}

	a {
		letter-spacing: 0.1em;
		text-decoration: none;
	}
}

.thumb-container {
	display: flex;
	align-items: center;
	align-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	padding: 0;
	width: 90%;

	li {
		display: inline-block;
		margin: 0.5em;
		width: 8em;
	}
}

.thumb-wrapper {
	display: inline-block;
	width: 100%;

	&.thumb-hidden {
		width: 0;

		img {
			width: 0;
		}
	}
}

.thumb-img {
	box-shadow: -1px 1px 2px $shadowColor;
	border-radius: 0.5em;
	width: 100%;
}

.arrow {
	text-decoration: none;

	&:hover {
		background-color: rgba(0,0,0,0.1);
		cursor: pointer;
	}
}