@import '_fonts';
@import '_colors';
@import '_layout';

@import '_base-styles';
@import '_menu';
@import '_thumbImgs';
@import '_carousel';
@import '_animations';

.hidden {
	border: 0px solid white;
	height: 0;
	opacity: 0;

	transition: all 0.5s ease;
}